 body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #FAF9F6;
} 

#welcome {
  margin-top: 15%;
}

#welcome p {
  font-size: 1.25rem;
}

header {
  background-color: #FAF9F6; 
  color: #56CBF9;

}

header .navbar {
  color: #56CBF9;
}

#score{
  width: 100px;
  height: 4rem;
  font-size: 1.25rem;
  background-color: #FF729F;
  color: #FAF9F6;
  margin: auto;
  border-radius: 15px;
}

button {
  border-radius: 15px!important;
  font-size: 1.5rem;
  height: 3.5rem;
}

.btn-primary {
  background-color: #56CBF9;
  border-color: #56CBF9;
  font-size: 1.5rem;
  height: 3.5rem;
  border-radius: 15px;
}

.btn-primary:hover {
  background-color: #089DD9;
  border-color: #089DD9;
  font-size: 1.25rem;
  height: 3.5rem; 
  transform: scale(1.15);
}

.btn-primary:disabled {
  background-color: grey;
  border-color: grey;
  font-size: 1.25rem;
  height: 3.5rem;
}

.checkactive {
  background-color: #12CEAF;
  color: white; 
  font-size: 1.25rem;
  height: 3.5rem;
}

#check:disabled {
  font-size: 1.25rem;
  background-color: grey;
}

.checkactive:hover {
  background-color: #0FA98F;
  border-color: #0FA98F;
  color: white;
  transform: scale(1.15);
  font-size: 1.25rem;
  height: 3.5rem;
}

.option-container {
  background-color: #56CBF9;
  width: 50%;
  height: 3.5rem;
  color: #FAF9F6;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 15px;
}

.option-container:hover {
  transform: scale(1.15);
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.selected {
  background-color: #FF729F;
  color: #56CBF9;
}

.disabled {
  pointer-events: none;
}

.hidden {
  display: none;
}

/* index.html styles */
#back-buttons {
  margin-top: 15%;
}

#back-buttons p {
  font-size: 1.5rem;
}

#back-buttons a {
  border-radius: 15px;
}

/* lesson.html styles */
#conclusion a {
  border-radius: 15px;
}

li {
  list-style-type: none;
}

h1, h2 {
  font-weight: 600;
}




