 body {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #c0fdfb;
} 

#score{
  width: 100px;
  background-color: #5D737E;
  color: white;
  margin: auto;
}

.btn-primary {
  background-color: #5D737E;
  border-color: #5D737E;
}

.btn-primary:hover {
  background-color: #3D4B52;
  border-color: #3D4B52;
}
/* //not working  */
.btn-secondary:hover {
  color: white;
}

.option-container {
  background-color: #64b6ac;
  width: 50%;
}

.option-text {
  color: white;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.selected {
  background-color: #FCFFFD;
  color: #64b6ac;
}

.checkactive {
  background-color: green;
  color: white;
  
}

.hidden {
  display: none;
}




