 body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #FAF9F6;
} 

header {
  background-color: #FAF9F6; 
  color: #56CBF9;

}

nav .active {
  color: #56CBF9
}

#score{
  width: 100px;
  background-color: #FF729F;
  color: #FAF9F6;
  margin: auto;
}

.btn-primary {
  background-color: #09ACEC;
  border-color: #09ACEC;
}

.btn-primary:hover {
  background-color: #3D4B52;
  border-color: #3D4B52;
}
/* //not working  */
.btn-secondary:hover {
  color: white;
}

.option-container {
  background-color: #56CBF9;
  width: 50%;
  height: 3.5rem;
  color: #333;
  text-align: center;
  font-size: 1.5rem;
}


.correct {
  background-color: #81F4E1;
}

.incorrect {
  background-color: red;
}

.selected {
  background-color: #FF729F;
  color: #56CBF9;
}

.disabled {
  pointer-events: none;
}

.checkactive {
  background-color: #81F4E1;
  color: white;
  
}

.hidden {
  display: none;
}
/* not working */





